<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!---->
    <bean class="com.cloudloan.bootcamp.homework.h02.base.Student" name="student1">
        <property name="id" value="1001"/>
        <property name="name" value="学员1(xml)"/>
    </bean>
    <bean class="com.cloudloan.bootcamp.homework.h02.base.Student" name="student2">
        <property name="id" value="1002"/>
        <property name="name" value="学员2(xml)"/>
    </bean>

    <!---->
    <bean class="com.cloudloan.bootcamp.homework.h02.base.Klass" name="klass">
        <property name="students">
            <list>
                <ref bean="student1"/>
                <ref bean="student2"/>
            </list>
        </property>
    </bean>

    <!---->
    <bean name="school" class="com.cloudloan.bootcamp.homework.h02.base.School">
        <property name="klass" ref="klass"/>
        <property name="student" ref="student1"/>
    </bean>

</beans>